.header {
  background-image: url("/img/everest.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
    display: flex;
    flex-direction: column;
    place-items: center;
}