.site-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    max-width: var(--layout-width);
    margin: 0 auto;
}

.site-header__left,
.site-header__right {
    display: flex;
    align-items: center;
    min-height: 105px;
}

.site-header-nav {
    padding-left: 99px;
}

.site-header-nav__list {
    display: flex;
}

.site-header-nav-item {
    padding-right: 30px;
}

.site-header-icons {
    display: flex;
}

.site-header-icons {
    padding-left: 43px;
}

.hero {
    color: #FCFCFC;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__container {
    width: var(--layout-width);
    margin: 0 auto;
}

.section {
    padding: 70px 0;
}

.section-about {
    padding-top: 140px;
}