@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap");

:root {
  --layout-width: 1170px;
}

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #061B28;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: var(--layout-width);
  margin: 0 auto;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
}

.navbar,
.main-header__right {
  display: flex;
  align-items: center;
  min-height: 105px;
}

.navbar__list {
  padding-left: 99px;
}

.logo {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2em;
}

.navbar__list {
  display: flex;
}

.navbar__item {
  padding-right: 30px;
}

.main-header__icons {
  display: flex;
  padding-left: 43px;
}

.main-header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.4);
  margin-right: 30px;
}

.main-header__icon:last-child {
  margin-right: 0;
}

.hero {
  color: #fcfcfc;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/everest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 98px;
  line-height: 1em;
  margin: 0;
  margin-bottom: 50px;
}

.hero__button {
  width: 170px;
  height: 45px;
  color: #fcfcfc;
  border: 2px solid #fcfcfc;
  background: transparent;
  cursor: pointer;
}

.section {
  padding: 70px 0;
}

.section__heading {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 115%;
}

.section_about {
  padding-top: 140px;
}

.section_about {
  background-image: url("../img/map.png");
  background-position: 100% center;
  background-repeat: no-repeat;
}

.about__text {
    line-height: 27px;
    max-width: 350px;
}