@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap");

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #061B28;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.site-header {
    color: #fcfcfc;
    font-size: 16px;
    font-weight: 400;
}

.site-header__logo {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 2em;
  }

.hero__title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 98px;
    line-height: 1em;
    margin: 0;
}

.section__heading {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%
}