@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap");

ul {
    list-style: none;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.header {
    background-color: #516E83;
    color: #fcfcfc;
}

.logo {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 2em;
  }

.nav {
    font-size: 16px;
    font-weight: 400;
}

.hero__title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 98px;
}
